.u-background--primary {
  background-color: $color-primary;
}

.u-background--black {
  background-color: $color-black;
}

.u-background--white {
  background-color: $color-white;
}

.u-background--cool-grey-20 {
  background-color: $color-grey-cool-20;
}
