@font-face {
  font-family: 'Gellix';
  font-weight: $font-weight-regular;
  src: url('/assets/fonts/Gellix-Regular.eot') format('embedded-opentype'),
    url('/assets/fonts/Gellix-Regular.woff2') format('woff2'),
    url('/assets/fonts/Gellix-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gellix';
  font-weight: $font-weight-medium;
  src: url('/assets/fonts/Gellix-Medium.eot') format('embedded-opentype'),
    url('/assets/fonts/Gellix-Medium.woff2') format('woff2'),
    url('/assets/fonts/Gellix-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gellix';
  font-weight: $font-weight-semibold;
  src: url('/assets/fonts/Gellix-SemiBold.eot') format('embedded-opentype'),
    url('/assets/fonts/Gellix-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Gellix-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Gellix';
  font-weight: $font-weight-bold;
  src: url('/assets/fonts/Gellix-Bold.eot') format('embedded-opentype'),
    url('/assets/fonts/Gellix-Bold.woff2') format('woff2'),
    url('/assets/fonts/Gellix-Bold.woff') format('woff');
}
